$color-header-background: #ed1a3b;
$color-background: white;
$color-footer-background: #555555;

$color-tab-text: #fbc338;
$color-footer-text: white;

$font-size-primary: 20px;

$font-primary: 'Arial';
$font-secondary: 'Oswald';