$color-header-background: #ed1a3b;
$color-background: white;
$color-footer-background: #555555;
$color-button: #fbc338;

$color-primary-text: black;
$color-secondary-text: white;
$color-tab-text: #fbc338;
$color-title-text: #323232;
$color-title-text-2: #ed1a3b;
$color-subtitle-text: #777777;

$font-size-primary: 20px;
$font-size-title: 34px;
$font-size-subtitle: 24px;

$font-primary: "Arial";
$font-secondary: "Oswald";
