@import "src/styles";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  .button {
    font-family: $font-secondary;
    color: var(--color-tab-text);
    font-size: $font-size-subtitle;
    cursor: pointer;
    user-select: none;
  }

  .active {
    text-decoration: underline;
  }

  .divider {
    color: var(--color-tab-text);
    font-size: $font-size-title;
  }
}
