@import "src/styles";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: $color-header-background;
  padding: 0 20px;

  .leftBlock {
    .logo {
      height: 50px;
    }
  }

  .rightBlock {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;

    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      list-style-type: none;

      .navLink {
        text-decoration: none;

        .link {
          color: $color-tab-text;
          font-size: $font-size-primary;
          font-weight: 600;
          font-family: $font-secondary;
        }
        .linkActive {
          text-decoration: underline;
          color: $color-tab-text;
          font-size: $font-size-primary;
          font-weight: 600;
          font-family: $font-secondary;
        }

        .icon {
          width: 40px;
          height: 40px;
          fill: $color-tab-text;
        }
      }
    }
  }
}
