@import "src/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80vh;

  .grid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    // -ms-overflow-style: none;
    // scrollbar-width: none;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 20px 0;
      flex-wrap: wrap;
      row-gap: 20px;
  
      .cardSpace {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }  
  }
}
